@using PlayTubeBlazor.Components.SidebarItem

<div class="sidebar">
    <ul>
        <SidebarItem Text="Início" Link="/" />
        <SidebarItem Text="Tendências" Link="/trending" />
        <SidebarItem Text="Inscrições" Link="/subscriptions" />
        <SidebarItem Text="Biblioteca" Link="/library" />
    </ul>
</div>